.todo-list {
  background-color: var(--bg-color);
  padding: 1rem 1rem 0 1rem;
  border-radius: 5px;
  box-shadow: 0 0 20px var(--bg-color-darker);
}

.todo-list-items {
  overflow-y: auto;
  max-height: 50dvh;
  scrollbar-width: thin;
}

.todo-list.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  font-size: 1rem;
  padding: 1rem 0;
}

.todo-item {
  border-bottom: .5px solid hsl(236, 33%, 92%);
  padding: 1rem 0;
  display: flex;
  position: relative;
}

.todo-item .todo-content {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-right: 1rem;
}

.todo-item button.check-btn {
  cursor: pointer;
  border-radius: 40px;
  height: 24px;
  width: 24px;
  border: 1px solid hsl(236, 33%, 92%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: transparent;
}

.todo-item:not(.completed):hover button.check-btn:not(.checked) {
  background: var(--check-bg);
  position: relative;
  border: none;
}

.todo-item:not(.completed):hover button.check-btn:not(.checked)::after {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 40px;
  background: var(--bg-color);
}

.todo-item.completed {
  text-decoration: line-through;
}

.todo-item.completed button.check-btn {
  background: var(--check-bg);
}

.todo-item button.delete-btn {
  cursor: pointer;
  position: absolute;
  right: 1rem;
  border: none;
  background-color: transparent;
}

.todo-footer {
  font-size: 14px;
  padding: 1rem 0;
  color: hsl(234, 11%, 52%);
  display: flex;
  justify-content: space-between;
}

.todo-footer .filter-todos {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.todo-footer .filter-btn {
  border: none;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
}

.todo-footer .filter-btn:hover {
  color: var(--text-color);
}

.todo-footer .filter-btn.active {
  color: var(--primary-color);
}

.todo-footer .clear-completed {
  background-color: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
  font-weight: bold;
}

.todo-footer .clear-completed:not(:disabled):hover {
  color: var(--text-color);
  cursor: pointer;
}

.todo-footer .clear-completed:disabled {
  color: rgba(207, 210, 218, 0.5);
}