.todo-input {
  padding: 1rem 0;
}

.todo-input input {
  height: 55px;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding-left: 3.4rem;
  font-family: inherit;
  font-size: 1rem;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.todo-input input:focus {
  outline: none;
}